* {
	all: unset;
	font-size: 18px;
	font-family: "UbuntuMono Nerd Font", sans-serif;
	padding: 0;
	margin: 0;
}

@mixin floating-widget() {
	border-radius: 1rem;
	background-color: $base;
  box-shadow: 0 0 5px 0 $mantle;
  margin: .5rem;
}

@mixin bar-container($special: false) {
	border-radius: .7rem;

	@if $special {
		color: #fff;
	  transition: background-color 0.2s ease-in-out;
	  background-color: darken($mauve, 3%);

	  &:hover {
	  	background-color: $mauve;
	  }
	}
	@if not($special) {
	  color: $text;
	  background-color: $mantle;
	}
}

@mixin notification-widget() {

  box.actions {
    margin-bottom: .5rem;
    color: #fff;
    font-weight: 700;

    button {
      font-size: 1.2em;
      background-color: $blue;
      padding: .5rem;
      border: .1rem solid $crust;
      border-radius: .5rem;
      transition: background-color .2s ease-in-out;

      &:hover {
        background-color: darken($blue, 5%);
      }
    }
  }

  .content {
    .title {
      margin-right: 1rem;
      color: $text;
      font-size: 1.3rem;
    }

    .description {
      font-size: .8em;
	    color: $subtext0;
    }

    .time {
      padding: .5rem;
      font-size: .8em;
	    color: $subtext1;
    }

    .icon {
      border-radius: 1rem;
      margin: .5rem .5rem;

      &.img {
        border: .1rem solid $crust;
      }
    }


    button.close-button {
      padding: .1rem;
      margin-top: .2rem;
      border: .1rem solid $crust;
      background-color: $red;
      border-radius: .5rem;

      min-width: 1.2rem;
      min-height: 1.2rem;

      &:hover, &:focus {
        background-color: darken($red, 5%);
      }
    }
  }
}

@mixin generic-button($shadow: true) {
  color: $text;
  padding: .3rem;
  border-radius: 1rem;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

  &:hover {
    background-color: transparentize($blue, 0.5);
  }

  &:hover, &:focus {
    color: #fff;
    @if $shadow {
      box-shadow: inset 0 0 0 .1rem $crust;
    }
  }

  &:active {
    background-color: transparentize($blue, 0.3);
  }
}

@mixin generic-slider($slider-height: 0.8rem, $bg: $mauve) {
  trough {
    transition: background-color 200ms ease-in-out;
    background-color: $surface1;
    min-height: $slider-height;
    border-radius: 1rem;

    highlight, progress{
      background-color: $bg;
      border-radius: 1rem;
    }
  }

  slider {
    border-radius: 1rem;
    margin: -$slider-height+0.1rem;
    border: .4rem solid transparent;
  }

  &:hover, &:focus {
    trough {
      @if $bg == $mauve {
        background-color: $surface2;
      }
      @else {
        background-color: transparentize($bg, 0.6);
      }
      box-shadow: inset 0 0 0 .1rem $surface1;

    }
    slider {
      transition: background-color 100ms ease-in-out;
      background-color: $overlay2;
      box-shadow: 0 0 3px 0 $crust;
    }
  }

  &:disabled {
    highlight, progress{
      background-color: transparentize($mauve, 0.5);
    }
  }
}
