prefer-no-csd

environment {
    QT_QPA_PLATFORMTHEME "gtk3"
}

hotkey-overlay {
    skip-at-startup
}

input {
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"

    keyboard {
        xkb {
            layout "us,br"
            options "grp:win_space_toggle"
        }
        repeat-delay 300
        repeat-rate 35
    }

    touchpad {
        tap
    }
}

cursor {
    hide-after-inactive-ms 5000
}

layout {
    gaps 12
    center-focused-column "never"

    focus-ring {
        off
    }

    border {
        width 4
    }
}

window-rule {
    open-maximized true

    geometry-corner-radius 5
    clip-to-geometry true
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

include "./autostart.kdl"
include "./mappings.kdl"
include "./noctalia.kdl"
